 @media (max-width: 480px) {

  .fs-xs-20{
    font-size: 20px!important;
  }
  .fs-xs-19{
    font-size: 19px!important;
  }
  .fs-xs-10{
    font-size: 10px!important;
  }
 }

 

/*/*****************************************************************************
// clases Útiles
// *****************************************************************************/

.center-items{
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.overflow-hidden{

  overflow: hidden;
}

.margin-t-b-10{

  margin-top: 10px;
  margin-bottom: 10px;
}

.margin-t-b-20{

  margin-top: 20px;
  margin-bottom: 20px;
}

.margin-t-b-50{

  margin-top: 50px;
  margin-bottom: 50px;
}

.margin-t-50{

  margin-top: 50px;
}

.padding-t-b-50{

  padding-top: 50px;
  padding-bottom: 50px;
}

.no-padding{
  padding: 0!important;
}

.line-height-small{
  line-height: 25px;
}

.input-opacity-05{
  opacity: 0.5;
  color: #000;
  background: #FFF;
  border-color: #FFF;
}

.input-opacity-05:focus{
  opacity: 0.8;
}

.transition-all{
  /*prefijos para IE*/
  -webkit-transition: all 0.3s ease-in-out;
  /*prefijos para MOZILLA*/
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.text-center{
  text-align: center;
}



/*/*****************************************************************************
// Elementos principales
// *****************************************************************************/
.overlay-header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  overflow: hidden;
}

.container-header{
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  padding: 100px 200px 100px 200px;
}

.img-background{
  width: 1500px;
  height: auto;
}

#header-landing{

  height: 700px;
  background: url(../img/pic2.jpg);
  background-size: cover;
  position: relative;
}

.container-padding-medium{
   padding: 100px 200px 100px 200px;

}

.container-padding-small{
   padding: 100px 50px 100px 50px;

}

@media (max-width: 768px) {

  .container-padding-medium{
     padding: 100px 50px 100px 50px;
  }
}

.bg-image-contact{

  height: 100%;
  background: url(../img/pic3.jpg);
  background-size: cover;
  position: relative;
}

#footer{

  padding: 50px 100px 50px 100px;
  background: #403F3B;
}

@media (max-width: 768px) {

  #footer{
     padding: 50px 20px 50px 20px;
  }
}

.icon-social{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: #fff;
  display: inline-block;
  text-align: center;
  line-height: 90px;
  font-size: 40px;
  border: 10px solid;
  box-shadow: 0 0 0 5px #fff;
  color: #403F3B;
  cursor: pointer;

  border: 5px solid #ADACA9;
  box-shadow: 0 0 0 5px rgb(205, 204, 201);


}

.icon-social:hover{
  background: #403F3B;
  color: #fff;

  border: 7px solid #ADACA9;
  box-shadow: 0 0 0 7px rgb(205, 204, 201);


}

.my-icon-heart{
  color: #e74c3c;
  font-size: 14px!important;
}




/*/*****************************************************************************
// Responsive @media
// *****************************************************************************/

@media (max-width: 992px) {

  .container-header{
    padding: 100px 100px 100px 100px;
  }
  
}

@media (max-width: 768px) {

  #header-landing{
    background-position: -50px;

  }

  .fs-sm-40{

    font-size: 40px!important;
  }
  
}

@media (max-width: 480px) {

  .container-header{
    padding: 50px;
  }

  .fs-xs-30{

    font-size: 30px!important;
  }

  #header-landing{
   background-position: -250px;
  }
  
}

/*/*****************************************************************************
// Tamaños
// *****************************************************************************/
.wid-100-{
  width: 100%;
}

.fs-50{
  font-size: 50px;
}

.fs-12{
  font-size: 12px;
}

.fs-10{
  font-size: 10px;
}


/*/*****************************************************************************
// Colores
// *****************************************************************************/
.fc-W{

  color: #fff;
}

.bg-silver{
  background: silver;
}

.bg-gradient-blue{

  background-image: -webkit-linear-gradient(right top, #337ab7  30%, #3cd27b 100%);
  background-image: linear-gradient(to left bottom, #337ab7  30%, #3cd27b 100%); }
}


/*/*****************************************************************************
// Iconos personales
// *****************************************************************************/

@font-face{
  font-family: 'MaterialDesignIcons';
  src: url("../fonts/materialdesignicons-webfont.eot?v=0.9.21");
  src: url("../fonts/materialdesignicons-webfont.eot?#iefix&v=0.9.21") format("embedded-opentype"), url("../fonts/materialdesignicons-webfont.woff2?v=0.9.21") format("woff2"), url("../fonts/materialdesignicons-webfont.woff?v=0.9.21") format("woff"), url("../fonts/materialdesignicons-webfont.ttf?v=0.9.21") format("truetype"), url("../fonts/materialdesignicons-webfont.svg?v=0.9.21#materialdesigniconsregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

.my-icon {
  display: inline-block;
  font: normal normal normal 24px/1 MaterialDesignIcons;
  font-family: 'MaterialDesignIcons'!important;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0, 0);

  /*prefijos para IE*/
  -webkit-transition: all 0.3s ease-in-out;
  /*prefijos para MOZILLA*/
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.my-icon-facebook:before{
  content: "\f258";
}

.my-icon-facebook:before{
  content: "\f258";
}

.my-icon-twitter::before {
  content: "\f44e";
}

.my-icon-instagram::before {
  content: "\f2ed";
}

.my-icon-youtube-play::before {
  content: "\f498";
}

.my-icon-thumb-up::before {
  content: "\f429";
}

.my-icon-heart::before {
  content: "\f2ca";
}


/*/*****************************************************************************
// Animaciones
// *****************************************************************************/

@-webkit-keyframes hearthbeat {
  from {
    -webkit-transform: scale(1);
  }

  0% {
    -webkit-transform: scale(1.2);
  }

  50% {
    -webkit-transform: scale(0.8);
  }

  50% {
    -webkit-transform: scale(1);
  }

  to {
    -webkit-transform: scale(1.4);
  }
}
@-moz-keyframes hearthbeat {
  from {
    -moz-transform: scale(1);
  }

  0% {
    -moz-transform: scale(1.2);
  }

  50% {
    -moz-transform: scale(0.8);
  }

  50% {
    -moz-transform: scale(1);
  }

  to {
    -moz-transform: scale(1.4);
  }
}
@-o-keyframes hearthbeat {
  from {
    -o-transform: scale(1);
  }

  0% {
    -o-transform: scale(1.2);
  }

  50% {
    -o-transform: scale(0.8);
  }

  50% {
    -o-transform: scale(1);
  }

  to {
    -o-transform: scale(1.4);
  }
}
@keyframes hearthbeat {
  from {
    transform: scale(1);
  }

  0% {
    transform: scale(1.2);
  }

  50% {
    transform: scale(0.8);
  }

  50% {
    transform: scale(1);
  }

  to {
    transform: scale(1.4);
  }
}

.hearth-beat {
  -webkit-animation: hearthbeat 1s infinite linear;
  -moz-animation: hearthbeat 1s infinite linear;
  animation: hearthbeat 1s infinite linear;
}
