.theme1 .bg-1 {
  background: #eeeeee !important; }

.theme2 .bg-1 {
  background: #e6344a !important; }

.theme3 .bg-1 {
  background: #95a5a6 !important; }

.theme4 .bg-1 {
  background: #9b59b6 !important; }
