@import "bourbon/bourbon.scss";
@mixin create-theme (
	$color1, 
	$color2: #001, 
	$color3: #fff,
	$color4: #fff 
	){

	// *****************************************************************************
	// Main
	// *****************************************************************************
	.bg-1 { background: $color1 !important; }
			
}

// -------------------------------------------------------------------------
// class
// -------------------------------------------------------------------------
.theme1{	
	@include create-theme(
		#eee,
		#94c11f, 
		#efe46b,
		#d4825f
	); 
}

.theme2{	
	@include create-theme(
		#E6344A,
		#04779B,
		#0B5379,
		#FBB351
	); 
}

.theme3{	
	@include create-theme(
		#95a5a6,
		#e67e22, 
		#d35400,
		#f1c40f
	); 
}

.theme4{	
	@include create-theme(
		#9b59b6,
		#e74c3c, 
		#c0392b,
		#3cd27b
	); 
}